---
import MainLayout from "../layouts/main-layout.astro";

const name = "Jhon Eduard";
const date = new Date().toLocaleTimeString();
---

<MainLayout title="Home page">
  <h1>{name}</h1>
  <p>Momento actual {date}</p>
  <p id="current-time">Momento actual real:</p>

  <footer></footer>

  <script>
    const currentYear = new Date().getFullYear();

    const footer = document.querySelector("footer") as HTMLElement;
    footer.innerText = `Año : ${currentYear}`;

    const currentTime = document.querySelector("#current-time") as HTMLElement;
    currentTime.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
  </script>
</MainLayout>
